/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
/*--- CSS RESET --- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------- ROOT VARIABLES --------------------------------------- */

:root {

    --bebas-font: "Bebas Neue", serif; 
    --mont-font: "Montserrat", serif;


    --h1: 40px;
    --h2: 30px;
    --h3: 20px;


    --dark-blue: #7abfbf;
    --light-blue: rgba(122,191,191,.5);
	--orange: #Eb5428;
	--black: #0d0d0d;
	--white: #ffffff;
    --cream: #f2f2f2
}
/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

header {
	background-color: var(--cream);
	text-align: center;
	padding: 20px;
}


header h1 {
	color: var(--black);
    font-family: var(--bebas-font);
	font-size: var(--h1);
	margin-top: 50px;
}

a {
    text-decoration: none;
}

nav {
    grid-area: nav;
    min-width: 414px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    top: 0;
    z-index:5;
}
nav ul {
    grid-area: hamberger;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
}
nav li img {
    display: none;
}
nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
}
nav label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: relative;
    bottom: 5px;
    left: 30px;
}
nav span {
    display: block;
    position: relative;
 }
nav label svg {
    display: block;
}
label span:before, label span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 550px;
}
nav h2 {
    visibility: hidden;
    height: 1px;
    width: 1px;
}

nav a {
    color: var(--orange);
}

nav a:hover {
    color: var(--light-blue);
}

#actions {
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;

}

#actions a {
    color: var(--orange);
    display: grid;
    align-items: center;
    
}

#logo {
    background-color: var(--orange);
    width: 200px;
    height: 50px;

}

main {
	background-color: var(--cream);
}

main p, dd, dt, li {
    padding: 15px;
}


dd, p, li, nav, input {
    font-family: var(--mont-font);
    font-size: 16px;
}

nav a, nav span, menu li, footer {
    font-family: var(--bebas-font);
    font-size: 20px;
}



#search-button {
    background-color: var(--orange);
    border: var(--orange);
    margin-left: 0px;

}
input {
   border: 3px solid var(--orange);
   height: 40px;
   margin-right: 0px;
}

section li {
	display: block;
	margin: 20px;
}

h2 {
    font-family: var(--bebas-font);
    font-size: var(--h2);
    text-align: center;

}

dt {
   font-family: var(--mont-font);
   font-size: 16px;
   font-weight: 700;
}

#ingredients {
    list-style: square;
}

figure {
	position: relative;
	width: 100%; 
	margin: 0;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

figcaption {
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: rgba(0, 0, 0, 0.7);
	color: var(--white);
	text-align: center;
	padding: 10px;
	font-size: var(--text-size);
	font-family: var(--body-font);
	width: 45%;
}

#sides {
    background-color: var(--dark-blue);
}
footer {
	background-color: var(--green);
	padding: 20px;
	text-align: center;
	color: var(--white);
	line-height: 1.5;
}

footer h2 {
	font-family: var(--header-font);
	font-size: var(--h2-size);
	line-height: 2;
}

footer a {
	text-decoration: none;
	color: var(--white-color);
}

.hours {
	margin-top: 50px;
}

.copyright {
	font-family: var(--body-font);
	background-color: var(--white);
	color: var(--green);
	margin: 15px;
	text-align: center;
	font-weight: bold;
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media (min-width: 768px) {

    header {
        display: flex;
        flex: space-between;
        align-items: center;
    }
   
    nav {
        grid-area: nav;
        min-width: 414px;
        background-color: #ffffff;
        box-shadow: 0px 3px 3px #bbb;
        position: fixed;
        top: 0;
        z-index:5;
    }
    nav ul {
        grid-area: hamberger;
        padding: 0;
        margin: 0;
        list-style: none;
        overflow: hidden;
        max-height: 0;
    }
    nav li img {
        display: flex;
    }
    nav li a {
        display: block;
        padding: 20px;
        text-decoration: none;
    }
    nav label {
        cursor: pointer;
        display: inline-block;
        user-select: none;
        position: relative;
        bottom: 5px;
        left: 30px;
    }
    nav span {
        display: block;
        position: relative;
     }
    nav label svg {
        display: block;
    }
    label span:before, label span:after {
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
    }
    nav input {
        display: none;
    }
    nav input:checked ~ ul {
        max-height: 550px;
    }
    nav h2 {
        visibility: hidden;
        height: 1px;
        width: 1px;
    }
    
    nav a {
        color: var(--orange);
    }
    
    nav a:hover {
        color: var(--light-blue);
    }
   
    #logo {
        background-color: var(--orange);
    }

    main ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
   
    footer { 
        display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
       }
   
    .hours { 
           margin: 0;
    }
} 

/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media (min-width: 1280px) {

    .banner {
		display: flex;
        flex-wrap: nowrap;
		background-color: var(--green);
    }

	header {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	nav {
			flex: 1;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
	}

	nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-between;
	}

	main ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr); 
	}

	footer {
		display: flex;
		flex-wrap: wrap;
 }

	.contact, .hours {
		display: flex;
		flex-wrap: wrap;
		width: 50%; 
		}

	.footer-column {
			width: 50%;
	}
}
/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media (min-width: 1440px) {

	nav { 
	    justify-content: flex-end;
	}

	main ul {
		display: grid;
		grid-template-columns: repeat(4, 1fr); 
	}
}