/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
/*--- CSS RESET --- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------- ROOT VARIABLES --------------------------------------- */

:root {

    --bebas-font: "Bebas Neue", serif; 
    --mont-font: "Montserrat", serif;


    --h1: 40px;
    --h2: 30px;
    --h3: 20px;


    --dark-blue: #7abfbf;
    --light-blue: rgba(122,191,191,.5);
	--orange: #Eb5428;
	--black: #0d0d0d;
	--white: #ffffff;
    --cream: #f2f2f2
}
/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

header {
	background-color: var(--cream);
	text-align: center;
	padding: 20px;
}


header h1 {
	color: var(--black);
    font-family: var(--bebas-font);
	font-size: var(--h1);
	margin-top: 50px;
}

a {
    text-decoration: none;
}

nav {
    grid-area: nav;
    min-width: 414px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    top: 0;
    z-index:5;
}
nav ul {
    grid-area: hamberger;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
}
nav li img {
    display: none;
}
nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
}
nav label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: relative;
    bottom: 5px;
    left: 30px;
}
nav span {
    display: block;
    position: relative;
 }
nav label svg {
    display: block;
}
label span:before, label span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 550px;
}
nav h2 {
    visibility: hidden;
    height: 1px;
    width: 1px;
}

nav a {
    color: var(--orange);
}

nav a:hover {
    color: var(--light-blue);
}

#logo {
    background-color: var(--orange);
    width: 200px;
    height: 50px;
}

nav ul #sign-in, nav ul #logo {
    display: flex;
	flex-direction: column;
	align-items: center;
}

#actions {
    display: grid;
    margin: 20px 10px;
    grid-template-columns: auto auto auto auto;  
}

#actions li {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: var(--orange);
    font-family: var(--bebas-font);
    font-size: 20px;
}

#actions a {
    color: var(--orange);
}


main {
	background-color: var(--cream);
}

main p, main dd, main dt, main li {
    padding: 15px;
}


dd, p, li, nav, input {
    font-family: var(--mont-font);
    font-size: 16px;
}

nav a, nav span, menu li, footer {
    font-family: var(--bebas-font);
    font-size: 20px;
}

#search-form {
    display: flex;
    justify-content: center;
    justify-self: center;
}

#search-button {
    background-color: var(--orange);
    border: var(--orange);
    margin-left: 0px;

}
input {
   border: 3px solid var(--orange);
   height: 50px;
   margin-right: 0px;
}


h2 {
    font-family: var(--bebas-font);
    font-size: var(--h2);
    text-align: center;

}

dt {
   font-family: var(--mont-font);
   font-size: 16px;
   font-weight: 700;
}

#details dl{
    display: grid;
    grid-template-columns: auto auto;
    width: 300px;
}

#ingredients ul {
    display: grid;
}

#ingredients li {
    list-style-type: square !important;
    padding-left: 45px;
}

#directions ol {
    list-style-type: decimal !important;
    padding-left: 30px;
} 
img {
	width: 100%;
	height: auto;
	display: block;
}

#sides {
    background-color: var(--dark-blue);
    position: relative;
    padding-top: 10px;
}

.dish {
    display: flex;
    padding: 30px;
    gap: 10px;

}

.dish h3 {
    font-family: var(--bebas-font);
    font-size: var(--h3);
}

.dish p {
    font: var(--mont-font);
    font-size: 16px;

}

.dish p:nth-of-type(2){
    font-family: var(--mont-font);
    font-weight: 700;
    font-size: 16px;
}

.dish-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;

}


#sides img {
    width: 130px;
}


footer h3, footer h2 {
    display: none;
}

#social ul {
    display: grid;
    margin: 20px 10px;
    grid-template-columns: auto auto auto auto;  
}

#social li {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: var(--orange);
    font-family: var(--bebas-font);
    font-size: 20px;
}

#goodeats{
    display: flex;
    flex-direction: column-reverse;
}

#goodeats img{
    width: 240px;
    align-self: center;
}

#goodeats small{
    text-align: center;
    padding-top: 30px;
}
/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media (min-width: 768px) {

    nav {
        grid-area: nav;
        min-width: 414px;
        background-color: #ffffff;
        box-shadow: 0px 3px 3px #bbb;
        position: fixed;
        top: 0;
        z-index:5;
    }
    nav ul {
        grid-area: hamberger;
        padding: 0;
        margin: 0;
        list-style: none;
        overflow: hidden;
        max-height: 0;
    }
    nav li img {
        display: flex;
    }
    nav li a {
        display: block;
        padding: 20px;
        text-decoration: none;
    }
    nav label {
        cursor: pointer;
        display: inline-block;
        user-select: none;
        position: relative;
        bottom: 5px;
        left: 30px;
    }
    nav span {
        display: block;
        position: relative;
     }
    nav label svg {
        display: block;
    }
    label span:before, label span:after {
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
    }
    nav input {
        display: none;
    }
    nav input:checked ~ ul {
        max-height: 550px;
    }
    nav h2 {
        visibility: hidden;
        height: 1px;
        width: 1px;
    }
    
    nav a {
        color: var(--orange);
    }
    
    nav a:hover {
        color: var(--light-blue);
    }
   
    body {
        min-width: 768px;
    }

    #logo {
        background-color: var(--orange);
    }

    #details {
        text-align: center;
    }

    #details dl {
        text-align: center;
        padding: 5px;
    }
   
    #ing-direct {
        display: flex;
    }

    #ingridients li {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    #sides {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

} 

/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media (min-width: 1280px) {

    .banner {
		display: flex;
        flex-wrap: nowrap;
		background-color: var(--green);
    }

	header {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	nav {
			flex: 1;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
	}

	nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-between;
	}

	footer {
		display: flex;
		flex-wrap: wrap;
 }

	.contact, .hours {
		display: flex;
		flex-wrap: wrap;
		width: 50%; 
		}

	.footer-column {
			width: 50%;
	}
}
/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media (min-width: 1440px) {

	#dish {
        display: flex;
        flex-direction: column;
    }

    #sides img {
        width: 200px;
    }

    #sides {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top: 50px;
    }

    #details {
        background-color: var(--black);
        color: var(--light-blue);
    }

    #details dl {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 0;
        margin:0;
    }
}
/*------------Print Stuff----------------*/

@media print {
  @page {
    margin: 0.5in;
  }

  body {
    font-family: serif;
  }

  img {
    display: none;
  }

  /*  for grayscale images:
  img {
    filter: grayscale(100%);
  }
  */

  nav {
    display: none;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  body {
    max-height: 100vh;
    overflow: hidden;
  }
}